<div class="navbar navbar-expand-sm navbar-light navbar-lewagon container-fluid">
  <%= link_to root_path, class: "navbar-brand" do %>
    <div class="logo">
      <%= image_tag "garden.svg" %>
    </div>
  <% end %>

  <% if user_signed_in? %>
    <div class="ml-auto">
      <%= link_to new_garden_path, class: "navbar-brand padding-sign_up" do %>
        Add a garden
      <% end %>
      <%= link_to edit_user_registration_path, class: "navbar-brand padding-sign_up" do %>
        Edit profile
      <% end %>
      <%= link_to destroy_user_session_path, method: :delete, class: "navbar-brand padding-sign_up" do %>
        Sign Out
      <% end %>
    </div>

  <% else %>

  <div class="ml-auto">
    <%= link_to new_user_session_path, class: "navbar-brand padding-sign_up" do %>
        Sign In
    <% end %>
    <% end %>
  </div>
</div>

<style>
.padding-sign_up{
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  background-color: #1EDD88;

}
</style>
